# Build outputs
bin/
obj/

# Visual Studio / VS Code
.vs/
*.user
*.suo
*.userprefs

# Dotnet artifacts
*.dll
*.pdb
*.cache
*.log

# Generated PDFs
recortados/*
# Local input files (optional)
comprobante.pdf

.env
# OS files
.DS_Store
